@page "/todolist"

@using BlazorApp.Data
@inject TodolistService TodoService

<h1>To-do List</h1>

<input class="inpt input-group-text" @bind ="@TodoText">
<br>
<button class="btn btn-primary" @onclick="onclick">Добавить</button>
<br>
@if (Todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Задание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Todo in Todos)
            {
                <tr>
                    <td><input type="checkbox" @bind="@Todo.IsChecked" ></td>
                    <td>@Todo.ElementText</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string TodoText;

    private List<TodoList> Todos;

    protected override async Task OnInitializedAsync()
    {
        TodoList[] T;
        T = await TodoService.GetTodoListsAsync();
        Todos = T.ToList<TodoList>();
    }

    public void onclick()
    {
        Todos.Add(new TodoList()
        {
            IsChecked = false,
            ElementText = TodoText
        });
        TodoText = "";
    }

}